body{
background: white;
}

header {
  background-color: black;
}

nav.menu_con_3_elementos {
  background-color: red;
  color: black;
}

nav.lista_no_ordenada {
   display:flex;
   width: 150px;
   height: 400px;
   background-color: grey;
   color: red;
   border: blue 1px solid;
}

section.first_section {
  background: red;
  padding: 20px;
  border: blue 1px solid;
  position: absolute;
  vertical-align:baseline;
}

section.second_section {
  background: red;
  padding: 20px;
  border: blue 1px solid;

}

aside.aside {
  background: red;
}

footer.footer {
  background: red;
}
